* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#bgColorTop {
  height: 100vh;
  /* gradient needs some opacity! */
  background: linear-gradient(rgba(111, 197, 220, .9), rgba(232, 124, 128, .9)),
  url("https://source.unsplash.com/L5DxWLmywmM");
  background-size: cover;
  background-position: center top;
}

nav {
  margin: 0 5%;     /* %% to be responsive */
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #fff;
}

nav img {
  width: 50px;
  height: 50px;
}

nav p {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  letter-spacing: 8px;
}

.navWrap {
  max-width: 1000px;
  text-align: right;
  padding: 15px 0px 15px;
  display: flex;          /* responsive, mobile first */
  flex-direction: column; /* underneat each other */
  margin-left: auto;
}

.navWrap a {
  text-decoration: none;
  padding-left: 45px;
  text-transform: uppercase;
  color: #fff;
  font-size: .5rem;
}

/* .navWrap a:last-child {
  border: 1px solid #fff;
  padding: 3px;
  margin-left: 45px;
  border-radius: 8px;
} */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

header h1 {
  font-weight: 200;
  margin-top: 20px;
  font-size: 1.5rem;
}

header h3 {
  font-weight: 200;
  margin-top: 10px;
  font-size: 0.9rem;
}

header a {
  text-decoration: none;
  color: #fff;
  margin-top: 50px;
  font-size: 0.75rem;
  font-weight: 200;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50px;
}

header a .far {
  opacity: .65;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  margin-top: 50px;
}

.search input {
  width: 300px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 32px;
}

.search .far {
  position: absolute;
  top: 5px;
  left: 270px;
  background: #6fc5dc;
  padding: 4px;
  color: #fff;
  border-radius: 4px;
}

hr {
  min-width: 200px;
  margin-top: 20px;
  opacity: 0.25;
}

.firstSection {
  display: flex;
  flex-direction: column;
}

.sectionContainerLeft,
.sectionContainerRight {
  margin: 20px 20%;
  color: #aaa;
}

.creditCard {
  width: 100%;
}

.h2-sub {
  margin-bottom: 40px;
}

.sectionContainerLeft p {
  font-size: 0.9rem;
  margin-top: 20px;
}

@media(min-width: 700px) {  /* for bigger screens */
  .navWrap {
    flex-direction: row;  /* next to each other */
  }

  a:last-child {
    margin-top: -5px;
  }

  .firstSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sectionContainerLeft,
  .sectionContainerRight {
    margin: 50px;
    color: #aaa;
    width: 45%;
  }

  .creditCard {
    width: 75%;
  }

}
